
#page {
    padding-top: 60px;
}

header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
    line-height: 60px;
    color: #fff;
    background: #000;
}

h1 {
    margin: 0;
}

#goTop {
    position: fixed;
    z-index: 999;
    right: 0;
    border-radius: 50%;
    margin-right: 12px;
    top: 90%;
    transform: translateY(-50%);
    padding: 20px;
    color: #fff;
    background: rgba(00, 00, 00, 0.3);
    border: none;
    opacity: 0;
    transition: opacity 0.4s linear;
}

#goTop.is-visible {
    opacity: 1;
}

section {
    height: 100vh;
}

h2 {
    padding: 20px;
    margin: 0;
    color: #fff;
}

section:nth-of-type(1) {
    background: #0d3d56;
}

section:nth-of-type(2) {
    background: #0f5b78;
}

section:nth-of-type(3) {
    background: #117899;
}

section:nth-of-type(4) {
    background: #1496bb;
}